.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #303030 ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #1E90FF;
}
.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

/*
#header-box {
  display: flex;
  background-color: #1E90FF;
  grid-area: hd;
  justify-content: center;
}
#sidebar-box {
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 300px 300px 300px 300px;
  grid-area:sd;
  grid-template-areas:
  "about"
  "classes"
  "other";
}
#content-box {
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 300px 300px 300px 300px;
  grid-area: main;
  grid-template-areas:
  "shop "
  "roster"
  "quest";
}
#footer-box {
  display: flex;
  grid-area: ft;
  justify-content: center;
}
#content-top{
  grid-area: shop;
  width: 100%;
  background-color: #D3D3D3;
}
#content-middle{
  grid-area: roster
}
#content-bottom {
  background-color: #D3D3D3;
  grid-area: quest
}
#sidebar-top{
  grid-area: about
}
#sidebar-middle{
  background-color: #D3D3D3;
  grid-area: classes
}
#sidebar-bottom {
  grid-area: other
}
.container {
  display:grid;
  grid-template-columns: 200px 200px 200px 200px 400px 200px 200px auto;
  grid-template-rows: 100px 900px 50px;
  grid-template-areas:
  "hd hd hd hd hd hd hd hd"
  "main main main main main sd sd sd"
  "ft ft ft ft ft ft ft ft";
  

}
.box{
  display:flex;
 
}*/